.range-slide {
}

.range-slide-count {
}

.range-slide input[type='range'] {
}

.slick-list {
  height: 100%;
}

/* .range-slide input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 16px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
} */

/* .range-slide input::-webkit-progress-value {
  background-color: red;
}

.range-slide input::-webkit-progress-bar {
  background-color: red;
}

.range-slide input::-moz-range-progress {
  background-color: red;
} */

.range-value {
  background-color: #501ee0;
  border-radius: 4px;
  color: white;
  width: fit-content;
  padding: 4px 12px;
  position: relative;
  bottom: 36px;
  font-size: 12px;
  right: 50%;
}

.range-value::before {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  left: 50%;
  bottom: 0;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top: 4px solid #501ee0;
  transform: translate(-50%, 100%);
}

/* .rc-slider-rail {
  background-color: #501ee0 !important;
}

.rc-slider-track {
  background-color: gray !important;
} */

.rc-slider-dot {
  display: none !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 5px #501ee0 !important;
}
