.slick-list {
  height: 100% !important;
}

.slick-track {
  height: 100% !important;
}

.slick-slide {
  height: 100% !important;
  opacity: 0.6 !important;

  -moz-transform: translateY(16px);
  -ms-transform: translateY(16px);
  -o-transform: translateY(16px);
  -webkit-transform: translate(16px);
  transform: translateY(16px);
}

.slick-slide > div {
  height: 100% !important;
}

.slick-cloned {
  /* height: 200px; */
}

.slick-active {
  /* border: 1px solid yellow; */
  /* height: 230px; */
}

.slick-track {
  display: flex;
  align-items: flex-end;
}

.slick-arrow {
  display: none !important;
}

.slick-center {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  -webkit-transform: translateY(2px);

  transform: scale(1.08);
  transform: translateY(2px);

  /* transform: ; */
  opacity: 1 !important;
}
