.customSlider {
  height: 100%;
}

.customSlider :global .slick-initialized {
  height: 100%;
  flex: 1 1 0%;
}

.customSlider :global .slick-slider > div {
  height: 100%;
}

.customSlider :global .slick-track,
.customSlider :global .slick-list {
  height: 100%;
}

.customSlider :global .slick-list > .slick-track > .slick-slide > div {
  height: 100%;
}

.customSlider :global .dots-custom {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translate(-50%);
  padding: 0;
}

.customSlider :global .dots-custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.customSlider :global .dots-custom li button {
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  padding: 0;

  transition: width 0.3s ease;

  @apply bg-b200;
}

.customSlider :global .dots-custom li.slick-active button {
  width: 25px;
  border-radius: 5px;
  @apply bg-main;
}

.sliderContentImg {
  -webkit-mask-image: linear-gradient(#000, #000, #000, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.01));
  mask-image: linear-gradient(#000, #000, #000, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.01));
}
