.customRcSlider :global .slick-list {
  height: 100%;
  overflow-y: auto !important;
}

.customRcSlider :global .range-value {
  border-radius: 4px;
  color: white;
  width: fit-content;
  padding: 4px 12px;
  position: relative;
  bottom: 36px;
  font-size: 12px;
  right: 50%;

  @apply bg-main;
}

.customRcSlider :global .range-value::before {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  left: 50%;
  bottom: 0;
  border: 4px solid transparent;
  border-bottom: 0;
  transform: translate(-50%, 100%);

  @apply border-t-4 border-t-main;
}

.customRcSlider :global .rc-slider-dot {
  display: none !important;
}

.customRcSlider :global .rc-slider-handle:active {
  box-shadow: 0 0 5px #501ee0 !important;
}
