.recommendSlider {
  height: 100%;
}

.recommendSlider :global .slick-list {
  height: 100% !important;
}

.recommendSlider :global .slick-track {
  height: 100% !important;
}

.recommendSlider :global .slick-slide {
  opacity: 0.6 !important;

  -moz-transform: translateY(16px);
  -ms-transform: translateY(16px);
  -o-transform: translateY(16px);
  -webkit-transform: translate(16px);
  transform: translateY(16px);
}

.recommendSlider :global .slick-slide > div {
  height: 100% !important;
}

.recommendSlider :global .slick-track {
  display: flex;
  align-items: flex-end;
}

.recommendSlider :global .slick-arrow {
  display: none !important;
}

.recommendSlider :global .slick-center {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  -webkit-transform: translateY(2px);

  transform: scale(1.08);
  transform: translateY(2px);

  opacity: 1 !important;
}
