@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  min-height: 100dvh;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
